import React from 'react'
import './{{componentName}}.css'

class {{componentName}} extends React.Component {
  render() {
    return (
      <div>
        <p>{{componentName}} work!</p>
      </div>
    )
  }
}

export { {{componentName}} }
